/* a,
button{
    display: block;
}

.box{
    width: 100px;
    height: 100px;
    background: red;
}

.red{
    background: red;
}

.green{
    background: green;
} */

/* .gallery{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 10px;
    
}

.gallery__item{
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid black;
    cursor: pointer;
}

.red{
    background: red;
} */


.form {
    width: 90%;
    text-align: center;
}

.form__field {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 1rem;
}